{% extends "about-layout.twig" %}

{% block content %}

	<div class="page-header">
		<h1 class="brand" style="color: #9c9c9c;">
			Patsura Dmitry
			<small style="color: #99c356;">Web-Backend Developer</small>
		</h1>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<img src="/img/572096.jpg">
		</div>
		<div class="col-lg-6 col-md-12">
			<p>
				{% set ages = dmitry_ages() %}
				{% trans %}
				Hi everyone :) My name is Dmitry. I am {{ ages }} years old. I worked for web programming last 4 years + and I love it. Now I study computer science in <a href="http://bgpu.ru?dmtry.me" target="_blank">Blagoveshensk University</a>.
				I love open source and it is my main reason for write and contribute projects. Last year I start contribute zephir-language, and now I will start to contribute phalcon framework.
				{% endtrans %}
			</p>
			<p>
				In th 10 May, 2014 I decided that I will start my personal blog. In this blog I would write articles about phalcon, zephir, php, c++ programming and web technologies.
			</p>
			<p>
				If you would like to invite me to job or project, startup you can contact to me by information in bottom of page.
			</p>
			<iframe src="http://ghbtns.com/github-btn.html?user=ovr&type=follow&size=large" height="30" width="240" frameborder="0" scrolling="0" style="width:100%; height: 30px;" allowTransparency="true"></iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<h3>Programming Languages</h3>
			<ul class="list-unstyled list-inline">
				<li>PHP,</li>
				<li>C/C++,</li>
				<li>Javascript</li>
			</ul>
		</div>
		<div class="col-lg-6 col-md-12">
			<h3>Tools</h3>
			<ul class="list-unstyled list-inline">
				<li>PhpStorm,</li>
				<li>Git,</li>
				<li>HG (Mercurial),</li>
				<li>PHPUnit,</li>
				<li>Unix</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<h3>PHP Frameworks</h3>
			<ul class="list-unstyled list-inline">
				<li>Zend Framework 1 &amp; 2,</li>
				<li>Phalcon PHP,</li>
				<li>Symfony 2</li>
			</ul>
		</div>
		<div class="col-lg-6 col-md-12">
			<h3>Frontend</h3>
			<ul class="list-unstyled list-inline">
				<li>JQuery,</li>
				<li>Bootstrap,</li>
				<li>Backbone,</li>
				<li>Bower</li>
				<li>Npm,</li>
				<li>Gulp,</li>
				<li>HTML/CSS</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<h3>Work experience</h3>
			<div class="profile_info">
				<div class="clear_fix profile_career_row">
					<div class="label fl_l">Место работы:</div>
					<div class="labeled fl_l"><a href="http://artlime.ru/">Lime Design Studio</a><br>Благовещенск, 2010–2010<br><a href="#php-backend">PHP Программист</a></div>
				</div><div class="clear_fix profile_career_row block">
					<div class="label fl_l">Место работы:</div>
					<div class="labeled fl_l"><a href="http://amur.net/">Amur.net</a><br>Благовещенск, 2010–2011<br><a href="#php-backend">PHP программист</a></div>
				</div><div class="clear_fix profile_career_row block">
					<div class="label fl_l">Место работы:</div>
					<div class="labeled fl_l"><a href="http://artlime.ru/">Lime Design Studio</a><br>Благовещенск, 2011–2011<br><a href="#php-backend">PHP Программист</a></div>
				</div><div class="clear_fix profile_career_row block">
					<div class="label fl_l">Место работы:</div>
					<div class="labeled fl_l"><a href="http://uniqhand.ru/">Uniqhand.ru</a><br>Благовещенск, 2011–2014<br><a href="#php-backend">PHP Программист</a></div>
				</div><div class="clear_fix profile_career_row block">
					<div class="label fl_l">Место работы:</div>
				</div>
				<div class="labeled fl_l"><a href="http://en.wikipedia.org/wiki/Freelancer">Freelance</a><br>Благовещенск, 2014–2014<br><a href="#php-backend">Веб программист</a></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<h3>Open source what I contribute</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<h2><a href="http://github.com/phalcon/zephir">Zephir</a></h2>
			<p>
				I am an active contributor in <a href="http://github.com/phalcon/zephir">zephir-language</a> project.
				Zephir is a compiled high level language aimed to the creation of C-extensions for PHP http://zephir-lang.com/.
			</p>
		</div>
		<div class="col-lg-6 col-md-12">
			<h2><a href="http://github.com/phalcon/cphalcon">Phalcon</a></h2>
			<p>
				Last month start contributing. It is web framework delivered as a C-extension for PHP
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<h3>My open source projects</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<h2><a href="https://github.com/ovr/phalcony">Phalcony</a></h2>
			<p>
				Light lib to build beautiful applications with Phalcon.
			</p>
		</div>
		<div class="col-lg-6 col-md-12">
			<h2><a href="https://github.com/lynx/lynx">Lynx</a></h2>
			<p>
				The fastest ORM/DBAL written on zephir language with Doctrine 2 ideas.
				Current version is pre alpha version.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<h3>My instagram photos</h3>
			<iframe src="http://widget.stagram.com/in/dmtry_ovr/?s=208&w=5&h=2&b=1&p=5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:1115px; height: 446px" ></iframe> <!-- websta - web.stagram.com -->
		</div>
	</div>
	{#<div class="row">#}
		{#<div class="col-lg-6 col-md-12">#}
			{#<h3>Education</h3>#}
			{#BGPU 2014-2017 Math, Programming profile#}
		{#</div>#}
	{#</div>#}
	<div class="row top-buffer">
		<div class="container">
			<div class="well well-sm quick-contact">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4">
								<h1 class="title-contact">
									Quick Contact</h1>
							</div>
							<div class="col-md-4 contact-email">
								<h2>zaets28rus@gmail.com</h2>
								<h3>+7 962 283 78 83</h3>
							</div>
							<div class="col-md-4">
								<div class="row contact row-first">
									<div class="col-md-6">
										<a href="skype:izaets28rus?chat" class="skype"><i class="fa fa-skype"></i>izaets28rus</a>
									</div>
								</div>
								<div class="row contact">
									<div class="col-md-6">
										<a href="https://vk.com/zaets28rus" class="linkedin"><i class="fa fa-linkedin"></i>ВКонтакте</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}