<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Блог Дмитрия Пацура - Обо мне</title>
	<meta name="keywords" content="Дмитрий Пацура, Dmitry Patsura, ovr">
	<link rel="stylesheet" type="text/css" href="/src/vendor/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/src/vendor/fontawesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="/css/component.css" />
	<link rel="stylesheet" type="text/css" href="/css/about.css	" />
	<script src="/src/vendor/modernizr/modernizr.js"></script>
	{% include "ga-code.twig" %}
</head>
<body>
	<div class="container">
		<ul id="gn-menu" class="gn-menu-main">
			<li><a href="/" class="codrops-icon fa-2x pull-left">Статьи</a></li>
			{#<li><a href="/" class="codrops-icon fa-2x pull-left">Back to articles list</a></li>#}
			<li>
				<a href="skype:izaets28rus?chat" class="codrops-icon fa-skype  fa-2x pull-right">Skype</a>
				<a href="https://github.com/ovr" class="codrops-icon fa-github fa-2x pull-right">Github</a>
			</li>
		</ul>
	</div><!-- /container -->
	<div class="container" id="content">
		{% block content %}
		{% endblock %}
	</div>
	{#<script src="/src/lib/classie.js"></script>#}
	{#<script src="/src/lib/gnmenu.js"></script>#}
	{#<script>#}
		{#new gnMenu( document.getElementById( 'gn-menu' ) );#}
	{#</script>#}
</body>
</html>