{% extends "layout.twig" %}

{% block content %}

	{% for article in articles %}
		<div class="col-md-10 blogShort">
			<h1>{{ article.title }}</h1>

			<article>
				{% autoescape false %}
					{{ article.intro_text }}
				{% endautoescape %}
			</article>
			<a class="btn btn-blog pull-right marginBottom10" href="/article/{{ article.name }}/">READ MORE</a>
		</div>
	{% endfor %}

{% endblock %}