{% extends "layout.twig" %}

{% block title %}
	{% trans %}
	Статьи
	{% endtrans %}
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-12 col-sm-8 col-lg-8 clearfix">
			{% for article in articles %}
				<article class="col-md-12 blogShort">
                    <header>
                        <h1>
                            <a href="/article/{{ article.name }}/">
                                {{ article.title }}
                            </a>
                        </h1>
                    </header>

                    <p>
                    {% autoescape false %}
                        {{ article.intro_text }}
                    {% endautoescape %}
                    </p>

					<a class="btn btn-blog pull-right marginBottom10" href="/article/{{ article.name }}/">
						{% trans %}
						Читать далее
						{% endtrans %}
					</a>
				</article>
			{% endfor %}
		</div>
		<div class="col-6 col-sm-4 col-lg-4">
			<div class="widget HTML" id="HTML2">
				<div class="github-card" data-user="ovr"></div>
				<h2 class="title">
					{% trans %}
					Подписка
					{% endtrans %}
				</h2>
				<div class="widget-content">
					<div class="well">
						<form action="http://feedburner.google.com/fb/a/mailverify" method="post" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=dmtry_ovr', 'Subscribe for Dmtry.me', 'scrollbars=yes,width=550,height=520'); return true" target="popupwindow">
							<fieldset>
								<div class="form-group">
									<input id="follow-by-email-address" name="email" placeholder="Email address..." type="text" class="form-control">
								</div>
								<div class="form-group">
									<input id="follow-by-email-submit" type="submit" value="Отправить" class="btn btn-primary btn-block">
									<input name="uri" type="hidden" value="dmtry_ovr">
									{#<input name="loc" type="hidden" value="en_US">#}
									<input name="loc" type="hidden" value="ru_RU">
								</div>
							</fieldset>
						</form>
					</div>
				</div>
				<div class="clear"></div>
			</div>

			<h2 class="title">
				{% trans %}
				Будь с нами
				{% endtrans %}
			</h2>

			<div id="phalcon_vk" class="panel"></div>
			<div id="zephir_vk" class="panel"></div>
		</div>
	</div>

	<script src="http://lab.lepture.com/github-cards/widget.js"></script>
	<script type="text/javascript" src="//vk.com/js/api/openapi.js?112"></script>
	<script type="text/javascript">
		VK.Widgets.Group("phalcon_vk", {mode: 0, width: "auto", height: "250", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 45934290);
		VK.Widgets.Group("zephir_vk", {mode: 0, width: "auto", height: "250", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 67722434);
	</script>

{% endblock %}