<!doctype html>
<html lang="{{ currentLanguage }}">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<meta name="keywords" content="zephir, phalcon, php zephir">
	<link rel="stylesheet" type="text/css" href="/dist/all.css" />
	<link rel="stylesheet" type="text/css" href="/css/github-markdown.css" />
	<link rel="alternate" href="{{ languageChangeUrl }}" hreflang="{{ anotherLanguage }}" />
	{% include "blocks/apple-favicons.twig" %}
	{% include "blocks/ga-code.twig" %}
	{% block meta %}{% endblock %}
</head>
<body>
	<div class="container">
		<ul id="gn-menu" class="gn-menu-main">
			{% block leftHeaderLinks %}{% endblock %}
			<li>
				<a href="{{ languageChangeUrl }}" class="codrops-icon fa-2x pull-right">
					{% trans %}
					English Version
					{% endtrans %}
				</a>
			</li>
			{#<li class="gn-trigger">#}
				{#<a class="gn-icon gn-icon-menu"><span>Menu</span></a>#}
				{#<nav class="gn-menu-wrapper">#}
					{#<div class="gn-scroller">#}
						{#<ul class="gn-menu">#}
							{#<li><a class="gn-icon gn-icon-cog">About me</a></li>#}
							{#<li><a class="gn-icon gn-icon-cog">Skills</a></li>#}
							{#<li><a class="gn-icon gn-icon-help">Github Activity</a></li>#}
							{#<li><a class="gn-icon gn-icon-help">Contact</a></li>#}
						{#</ul>#}
					{#</div><!-- /gn-scroller -->#}
				{#</nav>#}
			{#</li>#}
			<li>
				<a href="/about" class="codrops-icon fa-2x pull-right">
					{% trans %}
					Обо мне
					{% endtrans %}
				</a>
			</li>
		</ul>
	</div><!-- /container -->
	<div class="container" id="content">
		{% block content %}
		{% endblock %}
	</div>
	{#<script src="/src/lib/classie.js"></script>#}
	{#<script src="/src/lib/gnmenu.js"></script>#}
	{#<script>#}
		{#new gnMenu( document.getElementById( 'gn-menu' ) );#}
	{#</script>#}
	<script src="/src/vendor/modernizr/modernizr.js"></script>
</body>
</html>
